body { 
    font: 14px sans-serif; 
    text-align: center; 
}

.Page {
    position: relative;
    
    min-height: 80vh;
    padding-bottom: 96px;
}

.wrapper { 
    width: 350px; 
    padding: 20px; 
}

.navigationHeader {
    text-align: right;
    border-bottom: 2px solid #eee;
    margin-top: 5px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    margin-bottom: 3px !important;
}

.navigationMenu {
    display: inline-block;
    list-style-type: none;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    padding: 0;
}

.navMenuItem {
    display: inline-block;
    text-align: center;
    border-left: 2px solid #eee;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
}

.dropdownContent {
    /*display: block;*/
    position: absolute;
    right: 5px;
    border-left: 2px solid #eee;
    padding-top: 3px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 2px !important;
    /*border-bottom: 2px solid #eee;*/
    z-index: 5;
}

.dropdownItem {

    display: block;
    border-bottom: 2px solid #eee;
    font-size: large;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.hiddenContent {
    display: none;
}

.footer {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid #eee;
    background-color: white;
    padding-top: 3px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    padding-bottom: 7px !important;
    text-align: center;

}

.footerContent {
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
    
}

.mapTable {
    margin-top: 15px;
    border: 3px solid black;
}

.mapTableHeader {
    border-bottom: 3px solid black;
}

.mapTableItem {
    border: 1px solid black;
    background-color: white;
}

.EventNameRow {
    text-align: left;
    font-weight: bold;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.StartTimeField {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    /*border-top: 1px solid grey;*/
    border-bottom: 1px solid grey;
}

.EndTimeField {
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    border-bottom: 1px solid grey;
}

.DescriptionField {
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

.TagButtonColumn {
    margin-top: 5px;
}

.tagContent {
    padding: 10px;
}

.addTagButton {
    font-weight: bold;
}

.Selected {
    background-color: lightcyan;
}

#myMap {
    width: 800px !important;
    height: 600px !important;
    margin: 20px !important;
}