body { 
    font: 14px sans-serif; 
    text-align: center; 
}

.SurveyPage {
    position: relative;
    
    min-height: 80vh;
    padding-bottom: 96px;

}

.wrapper { 
    width: 350px; 
    padding: 20px; 
}

.navigationHeader {
    text-align: right;
    border-bottom: 2px solid #eee;
    margin-top: 5px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    margin-bottom: 3px !important;
}

.navigationMenu {
    display: inline-block;
    list-style-type: none;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    padding: 0;
}

.navMenuItem {
    display: inline-block;
    text-align: center;
    border-left: 2px solid #eee;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    height: 72px;
}

.navMenuText {
    color: grey;
    display: none;
}

.dropdown {
    position: absolute;
    left: 160px;
}

.dropdownContent {
    /*display: block;*/
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 140px;
    border-left: 2px solid #eee;
    padding-top: 3px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 2px !important;
    /*border-bottom: 2px solid #eee;*/
    z-index: 35;
}

.dropdownItem {

    display: block;
    border-bottom: 2px solid #eee;
    font-size: large;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navImage {
    position: absolute;
    left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}

.headerLogo {
    object-fit: contain;
    max-height: 64px;
    vertical-align: top;
}


.hiddenContent {
    display: none;
}

#SurveyLinkField {
    position: absolute;
    left: 135px;
    bottom: 40px;
    width: max-content;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
    z-index: 40;
}

.footer {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid #eee;
    background-color: white;
    padding-top: 3px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    padding-bottom: 7px !important;
    text-align: center;

}

.footerContent {
    float: none;
    margin-top: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 5px !important;
    
}

.footerText {
    display: inline-block;
    float: none;
    font-size: large;
}

.footerLogo {
    display: inline-block;
    float: none;
    object-fit: contain;
    max-height: 64px;
    vertical-align: top;
}

#TitleInput {
    text-align: center;
    float: none;
}

#StartSurveyButton {
    text-align: center;
    float: none;
}

.SurveyQuestion {
    /*height: 60px;*/
    min-width: 400px;
    max-width: 920px;
    padding: 5px 0;
    border: 3px solid black;
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.BenefitRow {
    max-width: 920px;
    margin: auto;
    padding: 10px 0;
}

@media (min-width: 910px) {
    .SurveyQuestion {
        min-width: 880px;
    }

    .BenefitText {
        height: 200px;
        max-height: 200px;
    }

    .BenefitImage {
        
        height: 200px;
        max-height: 200px;
    }

    .BenefitImage>img {
        max-height: 190px;
    }

    .SubmitButton {
        min-width: 880px;
    }
}

.Benefit {
    min-width: 400px;
    min-height: 400px; 
    max-height: inherit;
    /*border: 1px solid blue;*/
    /*padding: 5px;*/
    
}

.BenefitImage>img {
    position: absolute;
    max-height: 190px;
    max-width: 390px;
    width: fit-content;
    min-width: 160px;
    z-index: 25;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    /*object-position: -175px -265px;*/
}

.imageFitSelector {
    position: absolute;
    right: 10px;
    z-index: 30;
}

.deleteImageButton {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 30;
}


.BenefitButton {
    min-width: 400px;
    min-height: 400px; 
    width: 420px;
    height: 420px;
    max-height: inherit;
    border: 5px solid black;
    margin: 8px;
    padding: 5px;
}

.SubmitButton {
    margin-left: auto;
    margin-right: auto;
    height: 72px;
    min-width: 400px;
    max-width: 920px;
    float: none;
    font-weight: bold;
    font-size: 28px;
    background-color: greenyellow;
}

.SubmitButton:disabled {
    background-color: grey;
}

.BenefitTitle {
    text-align: center;
    
}

.BenefitText {
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

/*@media (min-width: 768px) {
    

}*/

.BenefitImage {
    /*max-height: 80%;*/
    height: 200px;
    max-height: 200px;
    align-content: center;
    padding: 5px 0;
    /*border: 1px solid blue;*/
}

p {
    text-align: left;
    overflow: overlay;
    overflow-wrap: break-word;
}

.BenefitTextArea {
    width: -webkit-fill-available;
}

.LogoContainer {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.logo {
    max-height: 310px;
    max-width: 310px;
    width: fit-content;
    min-width: 160px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.logoFileUpload {
    height: 320px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 3px;
    border-color: grey;
}

.fileToUpload {
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 2px;
    border-style: dashed;
    border-width: 3px;
    border-color: grey;
}

.Selected {
    background-color: aqua;
}

.EssayTextArea {
    float: none;
}

#myMap {
    width: 800px !important;
    height: 600px !important;
    margin: 20px !important;
}