body { 
    font: 14px sans-serif; 
    text-align: center; 
}

.SurveyPage {
    position: relative;
    
    min-height: 82vh;
    padding-bottom: 60px;

}

.wrapper { 
    width: 350px; 
    padding: 20px; 
}

.navigationHeader {
    text-align: right;
    border-bottom: 2px solid #eee;
    margin-top: 5px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    margin-bottom: 3px !important;
}

.navigationMenu {
    display: inline-block;
    list-style-type: none;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
    padding: 0;
}

.navMenuItem {
    display: inline-block;
    text-align: center;
    border-left: 2px solid #eee;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 18px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
}

.dropdown {
    position: absolute;
    left: 20px;
}

.dropdownContent {
    /*display: block;*/
    background-color: white;
    position: absolute;
    top: 70px;
    left: 0px;
    width: 140px;
    border-left: 2px solid #eee;
    padding-top: 3px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 2px !important;
    /*border-bottom: 2px solid #eee;*/
    z-index: 5;
}

.dropdownItem {

    display: block;
    border-bottom: 2px solid #eee;
    font-size: large;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.hiddenContent {
    display: none;
}

#SurveyLinkField {
    position: absolute;
    left: 135px;
    bottom: 40px;
    width: max-content;
    background-color: white;
    padding: 5px;
    padding-left: 10px;
}

.footer {
    width: -webkit-fill-available;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid #eee;
    background-color: white;
    padding-top: 3px !important;
    padding-left: 32px !important;
    padding-right: 32px !important;
    padding-bottom: 7px !important;
    text-align: center;

}

.footerContent {
    margin-top: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 5px !important;
    
}

#TitleInput {
    text-align: center;
    float: none;
}

.BenefitRow {
    
    margin: auto;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .BenefitRow {
        max-height: 280px;
    }

    .BenefitText {
        max-height: 180px;
    }

    .BenefitImage {
        max-height: 180px;
    }

    .BenefitImage>img {
        max-height: 160px;
    }
}

.Benefit {
    max-height: inherit;
    border: 1px solid blue;
    /*padding: 5px;*/
    
}


.BenefitButton {
    max-height: inherit;
    border: 1px solid blue;
    margin: 8px;
    padding: 5px;
    width: -webkit-fill-available;
}

.BenefitTitle {
    text-align: center;
    
}

.BenefitText {
    overflow-y: auto;
}

@media (min-width: 768px) {
    

}

.BenefitImage {
    /*max-height: 80%;*/
    align-content: center;
    padding: 5px 0;
    border: 1px solid blue;
}

img {
    max-width: 50%;
    object-fit: cover;
}

p {
    text-align: left;
    overflow: overlay;
    overflow-wrap: break-word;
}

.BenefitTextArea {
    width: -webkit-fill-available;
}

.fileToUpload {
    position: absolute;
    bottom: 2px;
}

.Selected {
    background-color: aqua;
}


#myMap {
    width: 800px !important;
    height: 600px !important;
    margin: 20px !important;
}